.container {
  height: 100vh;
   display: flex;
   align-items: center;
   background-color: #cef1d1;
}
.title {
  margin: 0;
}
.step-title {
  margin: 20px 0;
}
.form {
  background-color: white
  ;
  max-width: 300px;
  margin:  0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid #51dc90;
  padding: 1rem;

}

.card {
  display: none;
  width: 100%;
  padding: 1rem;

}
.step-title {
  font-size: 18px;
}
.form-group {
  min-height: 120px;
  
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-group input {
  font-size: 20px;
  min-height:20px ;
  margin-bottom: 4px;
  padding: .7em;
  line-height: .5em;
  outline: none;
}
.form-group input:focus {
  border: 2px solid #51dc90;

}

.btn-group {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.btn {
  border: 2px solid #51dc90;
  padding: 0.2em 1em;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight:600;
}
.btn:hover {
  background-color:#51dc90 ;
  color: white;
  transition:  all .3s;
}
.btn-next,
.btn-submit,
.btn-previous {
  display:none ;
}
.btn-submit.active,
.btn-next.active,
.btn-previous.active,
.card.active {
  display: block;
}
.message-error {
  color: 
  #f53e2d;
  display: block;
}